<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8">
    <title><%=appDirName%>/<%=appName%>[<%=env%>] - QForms Editor</title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- bluebird -->
<!--    <script src="lib/bluebird/bluebird.min.js"></script>-->
    <!-- jquery -->
    <script src="lib/jquery/jquery-2.1.4.min.js"></script>
    <!-- bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- codemirror -->
    <link href="lib/codemirror-4.8/lib/codemirror.css" rel="stylesheet" >
    <link href="lib/codemirror-4.8/theme/cobalt.css" rel="stylesheet" >
    <script src="lib/codemirror-4.8/lib/codemirror.js"></script>
    <script src="lib/codemirror-4.8/mode/javascript/javascript.js"></script>
    <!-- ejs -->
    <script src="lib/ejs/ejs_production.js"></script>
    <!-- qforms js -->
    <script src="js/common.js"></script>
    <script src="js/common-jsx.js"></script>
    <script src="js/editor.js"></script>

    <!-- qforms css -->
    <link href="css/editor.css" rel="stylesheet"/>
    <link href="css/common-jsx.css" rel="stylesheet"/>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log('editor.ejs DOMContentLoaded');
            TreeWidget.register();
            TabWidget.register();
            const data = <%-appFileContent%>;
            new QForms(data);
            new EditorController(data).init();
        });
    </script>
</head>
<body>
    <div id="sidebar">
        <div id="tree-pad" class="flex-rows">
            <div id="tree-bar" class="flex-min">
                <div id="treeActions" class="dropdown">
                    <a class="btn btn-large btn-primary"  target="_blank" href="<%=runAppLink%>" style="float:right;">Run Application</a>
                    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown">
                        <span>Actions</span> <span class="caret"></span>
                    </button>
                    <ul id="treeActionsList" class="dropdown-menu">
                        <li class="disabled"><a>none</a></li>
                    </ul>
                </div>
            </div>
            <div id="tree" class="flex-max TreeWidget">
                <ul></ul>
            </div>
        </div>
        <div id="propsTab" class="TabWidget TabWidget-blue" style="background-color: #eee;">
            <ul>
                <li class="active">
                    <span>Properties</span>
                </li>
            </ul>
            <div>
                <div class="active">
                    <div id="props" class="PropertyGrid" style="height: 100%">
                        <table>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="client">
        <div id="docs" class="TabWidget full">
            <ul></ul>
            <div></div>
        </div>
    </div>
    <div id="root">abc</div>
</body>
</html>
