<div class="TableView place">
    <div class="client place">
        <div class="frame">
            <table>
                <thead>
                    <th>name</th>
                    <th>caption</th>
                    <th>type</th>
                    <th>key</th>
                    <th>auto</th>
                    <th>nullable</th>
                </thead>
                <tbody>
                <% for (const name in model.data.columns) {
                    const column = model.data.columns[name]; %>
                <tr>
                    <td><%=column['@attributes'].name%></td>
                    <td><%=column['@attributes'].caption%></td>
                    <td><%=column['@attributes'].type%></td>
                    <td><%=column['@attributes'].key%></td>
                    <td><%=column['@attributes'].auto%></td>
                    <td><%=column['@attributes'].nullable%></td>
                </tr>
                <%}%>
                </tbody>
            </table>
            <br>
            <button class="btnCreateForm">Create Form</button>
        </div>
    </div>
</div>
