<% const readOnly = (model.data.readOnly == 'true') ? 'disabled="disabled"' : ''; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().getName()%>_<%=model.getName()%>" class="field RowFormCheckBoxFieldView <%=model.getName()%>">
    <input type="checkbox" <%=readOnly%>>
</div>
