<% const readOnly = (model.data.readOnly == 'true') ? 'disabled="disabled"' : ''; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().name%>_<%=model.name%>" class="RowFormCheckBoxFieldView <%=model.name%>">
    <input type="checkbox" <%=readOnly%>>
</div>
