<% const _readOnly = (model.data.readOnly === 'true' /*|| !model.getForm().getPage().isNewMode()*/) ? 'readonly' : ''; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().getName()%>_<%=model.getName()%>" class="RowFormTextBoxFieldView <%=model.getName()%>">
    <input style="text-align:<%=model.data.align%>" <%=_readOnly%>>
</div>
