<% const _readOnly = (model.data.readOnly === 'true' /*|| !model.getForm().getPage().isNewMode()*/) ? 'readonly' : ''; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().name%>_<%=model.name%>" class="RowFormTextBoxFieldView <%=model.name%>">
    <input style="text-align:<%=model.data.align%>" <%=_readOnly%>>
</div>
