<% const _readOnly = (model.data.readOnly === 'true' || (!model.form.page.isNewMode() && model.form.dataSource.data.access.update === false)) ? 'readonly' : ''; %>
<div id="<%=model.form.page.id%>_<%=model.form.name%>_<%=model.name%>" class="RowFormTextBoxFieldView <%=model.name%>">
    <input style="text-align:<%=model.data.align%>" <%=_readOnly%>>
</div>