<!DOCTYPE html>
<html class="editor">
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8">
    <title><%=appDirName%>/<%=appName%>[<%=env%>] - QForms Editor</title>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- codemirror -->
    <link href="lib/codemirror-4.8/lib/codemirror.css" rel="stylesheet">
    <link href="lib/codemirror-4.8/theme/cobalt.css" rel="stylesheet">
    <script src="lib/codemirror-4.8/lib/codemirror.js"></script>
    <script src="lib/codemirror-4.8/mode/javascript/javascript.js"></script>
    <!-- qforms links -->
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/editor.css" rel="stylesheet"/>
    <!-- qforms scripts -->
    <script src="js/common.js"></script>
    <script src="js/common-jsx.js"></script>
    <script src="js/editor.js"></script>
    <script src="js/editor-jsx.js"></script>
    <script type="application/json"><%-JSON.stringify(app, null, 4)%></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log('editor.ejs DOMContentLoaded');
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            const runAppLink = "<%=runAppLink%>";
            new FrontHostApp(data);
            new EditorApp(data, runAppLink).run();
        });
    </script>
</head>
<body class="editor__body">
    <div class="editor__root"></div>
</body>
</html>
