<% const _readOnly = (model.data.readOnly === "true") ? "readonly" : ""; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().name%>_<%=model.name%>" class="RowFormTextAreaFieldView <%=model.name%>">
    <textarea style="text-align: <%=model.data.align%>" <%=_readOnly%> rows="<%=model.data.rows%>" cols="<%=model.data.cols%>"></textarea>
</div>