<% var _readOnly = (model.data.readOnly === "true") ? "readonly" : ""; %>
<div class="RowFormTextAreaFieldView <%=model.form.page.id%>_<%=model.form.name%>_<%=model.name%>">
    <textarea style="text-align: <%=model.data.align%>" <%=_readOnly%> rows="<%=model.data.rows%>" cols="<%=model.data.cols%>"></textarea>
</div>