<% const _readOnly = (model.data.readOnly === "true") ? "disabled" : ""; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().getName()%>_<%=model.getName()%>" class="field RowFormComboBoxFieldView <%=model.getName()%>">
<!--    <select <%=_readOnly%>></select>-->
</div>