<% const readOnly = (model.data.readOnly == "true") ? "readonly" : ""; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().name%>_<%=model.name%>" class="RowFormDatePickerFieldView <%=model.name%>">
    <input <%=readOnly%>>
</div>