<% const readOnly = (model.data.readOnly == "true") ? "readonly" : ""; %>
<div id="<%=model.getForm().getPage().id%>_<%=model.getForm().getName()%>_<%=model.getName()%>" class="RowFormDatePickerFieldView <%=model.getName()%>">
<!--    <input <%=readOnly%>>-->
</div>