<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms monitor v<%=version%></title>
    <!-- EventEmitter -->
    <script src="common/lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="common/lib/react/react.development.js"></script>
    <script src="common/lib/react/react-dom.development.js"></script>
    <!-- qforms css -->
    <link rel="stylesheet" href="common/jsx/all.css"/>
    <!-- qforms js -->
    <script src="common/class/all.js"></script>
    <!-- jsx js -->
    <script src="common/jsx/ReactComponent/ReactComponent.js"></script>
    <script src="common/jsx/view/MonitorView/MonitorView.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const data = <%- data %>;
            Helper.createReactComponent(document.querySelector('#root'), MonitorView, {data});
        });
    </script>
</head>
<body>
    <div id="root"></div>
    <% const routes = Object.keys(applications); %>
    <%routes.forEach(route => {
        const application = applications[route];
        const pages = Object.keys(application.pages);%>
        <%=route%>(<%=pages.join(',')%>)
    <%});%>
</body>
</html>
