<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title><%=caption%>[<%=env%>] - QForms</title>
    <!-- EventEmitter -->
    <script src="common/lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="common/lib/react/react.development.js"></script>
    <script src="common/lib/react/react-dom.development.js"></script>
    <!-- qforms -->
    <link rel="stylesheet" href="common/class/all.css"/>
    <link rel="stylesheet" href="common/jsx/all.css"/>
    <!-- viewerClassCss -->
<%viewerClassCss.forEach((filePath) => {
        %>    <link rel="stylesheet" href="<%=filePath%>"/><%='\n'%><%
    });%>
    <script src="common/class/all.js"></script>
    <script src="viewer/class/all.js"></script>
    <!-- jsx -->
    <script src="common/jsx/ReactComponent/ReactComponent.js"></script>

    <script src="common/jsx/widget/Box/Box.js"></script>
    <script src="common/jsx/widget/Menu/Menu.js"></script>
    <script src="common/jsx/widget/Statusbar/Statusbar.js"></script>
    <script src="common/jsx/widget/Tooltip/Tooltip.js"></script>
    <script src="common/jsx/widget/DatePicker/DatePicker.js"></script>
    <script src="common/jsx/widget/DropdownDatePicker/DropdownDatePicker.js"></script>
    <script src="common/jsx/widget/DropdownButton/DropdownButton.js"></script>
    <script src="common/jsx/widget/Button/Button.js"></script>
    <script src="common/jsx/widget/TextBox/TextBox.js"></script>
    <script src="common/jsx/widget/ComboBox/ComboBox.js"></script>
    <script src="common/jsx/widget/Grid/Grid.js"></script>
    <script src="common/jsx/widget/GridRow/GridRow.js"></script>
    <script src="common/jsx/widget/GridCell/GridCell.js"></script>
    <script src="common/jsx/widget/Modal/Modal.js"></script>
    <script src="common/jsx/widget/TextArea/TextArea.js"></script>
    <script src="common/jsx/widget/Tab/Tab.js"></script>
    <script src="common/jsx/widget/CheckBox/CheckBox.js"></script>
    <script src="common/jsx/widget/Image/Image.js"></script>



    <script src="common/jsx/view/ApplicationView/ApplicationView.js"></script>
    <script src="common/jsx/view/ApplicationView/MdiApplicationView/MdiApplicationView.js"></script>
    <script src="common/jsx/view/ApplicationView/SdiApplicationView/SdiApplicationView.js"></script>
    <script src="common/jsx/view/PageView/PageView.js"></script>
    <script src="common/jsx/view/TableFormView/TableFormView.js"></script>
    <script src="common/jsx/view/RowFormView/RowFormView.js"></script>
    <script src="common/jsx/view/TableFormFieldView/TableFormFieldView.js"></script>
    <script src="common/jsx/view/TableFormTextBoxFieldView/TableFormTextBoxFieldView.js"></script>
    <script src="common/jsx/view/TableFormDatePickerFieldView/TableFormDatePickerFieldView.js"></script>
    <script src="common/jsx/view/RowFormTextBoxFieldView/RowFormTextBoxFieldView.js"></script>
    <script src="common/jsx/view/RowFormComboBoxFieldView/RowFormComboBoxFieldView.js"></script>
    <script src="common/jsx/view/RowFormDatePickerFieldView/RowFormDatePickerFieldView.js"></script>
    <script src="common/jsx/view/RowFormTextAreaFieldView/RowFormTextAreaFieldView.js"></script>
    <script src="common/jsx/view/TableFormComboBoxFieldView/TableFormComboBoxFieldView.js"></script>
    <script src="common/jsx/view/TableFormCheckBoxFieldView/TableFormCheckBoxFieldView.js"></script>
    <script src="common/jsx/view/RowFormCheckBoxFieldView/RowFormCheckBoxFieldView.js"></script>
    <script src="common/jsx/view/TableFormLinkFieldView/TableFormLinkFieldView.js"></script>
    <script src="common/jsx/view/RowFormLinkFieldView/RowFormLinkFieldView.js"></script>
    <script src="common/jsx/view/RowFormImageFieldView/RowFormImageFieldView.js"></script>
    <!-- app files begin -->
    <%links.forEach(link => {
        %><link rel="stylesheet" href="<%=link%>"/><%
    });%>
    <%scripts.forEach(script => {
        %><script src="<%=script%>"></script><%
    });%>
    <!-- app files end -->

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const data = <%- JSON.stringify(data, null, 4) %>;
        const qforms = new QForms(data);
        qforms.init();
    });
    </script>
</head>
<body>
<%
if (debugApp === '1') {
    %><div id="root" class="debug"></div>
<%
} else {
    %><div id="root"></div><%
}
%>
</body>
</html>
