<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title><%=caption%>[<%=env%>] - QForms</title>
    <!-- EventEmitter -->
    <script src="common/lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- ejs -->
<!--    <script src="common/lib/ejs/ejs_production.js"></script>-->
    <!-- bluebird -->
<!--    <script src="common/lib/bluebird/bluebird.min.js"></script>-->
    <!-- jquery -->
<!--    <script src="common/lib/jquery/jquery-2.1.4.min.js"></script>-->
    <!-- bootstrap -->
    <!--<link href="common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="common/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="common/lib/bootstrap/js/bootstrap.min.js"></script>-->
    <!-- react -->
    <script src="common/lib/react/react.development.js"></script>
    <script src="common/lib/react/react-dom.development.js"></script>

    <!-- qforms -->
    <link rel="stylesheet" href="common/class/all.css"/>
    <link rel="stylesheet" href="common/jsx/all.css"/>

    <!-- viewerClassCss -->
<%viewerClassCss.forEach((filePath) => {
        %>    <link rel="stylesheet" href="<%=filePath%>"/><%='\n'%><%
    });%>
    <script src="common/class/all.js"></script>
    <script src="viewer/class/all.js"></script>
    <script src="common/jsx/ReactComponent/ReactComponent.js"></script>
    <script src="common/jsx/Box/Box.js"></script>
    <script src="common/jsx/Menu/Menu.js"></script>
    <script src="common/jsx/Statusbar/Statusbar.js"></script>
    <script src="common/jsx/Tooltip/Tooltip.js"></script>
    <script src="common/jsx/DatePicker/DatePicker.js"></script>
    <script src="common/jsx/DropdownDatePicker/DropdownDatePicker.js"></script>
    <script src="common/jsx/DropdownButton/DropdownButton.js"></script>
    <script src="common/jsx/Button/Button.js"></script>
<!--    <script src="common/jsx/Toolbar/Toolbar.js"></script>-->
    <script src="common/jsx/TextBox/TextBox.js"></script>
<!--    <script src="common/jsx/FormGrid/FormGrid.js"></script>-->
    <script src="common/jsx/RowFormFieldView/RowFormFieldView.js"></script>
    <script src="common/jsx/ComboBox/ComboBox.js"></script>
    <script src="common/jsx/Grid/Grid.js"></script>
<!--    <script src="common/jsx/Toolbar2/Toolbar2.js"></script>-->
<!--    <script src="common/jsx/Paging/Paging.js"></script>-->
    <script src="common/jsx/TableFormView/TableFormView.js"></script>
    <script src="common/jsx/RowFormView/RowFormView.js"></script>
    <script src="common/jsx/Tab/Tab.js"></script>
<!--    <script src="common/jsx/Toolbar3/Toolbar3.js"></script>-->
    <script src="common/jsx/PageView/PageView.js"></script>
    <script src="common/jsx/ApplicationView/ApplicationView.js"></script>
    <script src="common/jsx/Modal/Modal.js"></script>
    <script src="common/jsx/TableFormTextBoxFieldView/TableFormTextBoxFieldView.js"></script>
    <!-- app links begin -->
    <%links.forEach((link) => {
        %><link rel="stylesheet" href="<%=link%>"/><%
    });%>
    <!-- app links end -->
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const data = <%-JSON.stringify(data, null, 4)%>;
        const qforms = new QForms(data);
        qforms.init();
    });
    </script>
</head>
<body>
<%
if (debugApp === '1') {
    %><div id="client" class="debug"></div>
<%
} else {
    %><div id="client"></div><%
}
%>
</body>
</html>
