<!DOCTYPE html>
<html class="<%=application.getName()%>-app" lang="<%=application.getAttr('lang')%>">
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=application.getTitle(context, response)%></title>
    <!-- qforms links -->
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/viewer.css" rel="stylesheet"/>
    <!-- app links -->
    <%application.links.forEach(link => {
    if (typeof link === 'string') {
    %><link href="<%=link%>" rel="stylesheet"/>
    <%
    } else if (typeof link === 'object') {
    %><link href="<%=link.href%>" rel="<%=link.rel%>"/>
    <%
    }
    });%>
    <!-- lib scripts -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- qforms scripts -->
    <script src="js/common.js"></script>
    <script src="js/common-jsx.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/viewer-jsx.js"></script>
    <!-- app scripts -->
    <%application.js.forEach(src => {
        %><script src="<%=src%>"></script>
    <%
    });%>
    <script type="application/json"><%- JSON.stringify(response, null, 4) %></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            const qforms = new FrontHostApp(data);
            qforms.init();
        });
    </script>
</head>
<body class="<%=application.getName()%>-app__body">
<%
if (debugApp === 1) {
    %><div class="<%=application.getName()%>-app__root debug"></div>
<%
} else {
    %><div class="<%=application.getName()%>-app__root"></div><%
}
%>
</body>
</html>
