<!DOCTYPE html>
<html class="<%=application.getViewClassName()%>" lang="<%=application.getAttr('lang')%>">
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=application.getTitle(context, response)%></title>
    <!-- style -->
    <%links.forEach(link => {
    if (typeof link === 'string') {
    %><link href="<%=link%>" rel="stylesheet"/>
    <%
    } else if (typeof link === 'object') {
    %><link href="<%=link.href%>" rel="<%=link.rel%>"/>
    <%
    }
    });%>

    <!-- code -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <script src="js/common.js"></script>
    <script src="js/common-jsx.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/viewer-jsx.js"></script>
    <%scripts.forEach(src => {
        %><script src="<%=src%>"></script>
    <%
    });%>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            new FrontHostApp(data).run();
        });
    </script>
    <!-- data -->
    <script type="application/json"><%- JSON.stringify(response, null, 4) %></script>
</head>
<body class="<%=application.getViewClassName()%>__body">
<%
if (context.query.debug === 1) {
    %><div class="<%=application.getViewClassName()%>__root debug"></div>
<%
} else {
    %><div class="<%=application.getViewClassName()%>__root"></div><%
}
%>
</body>
</html>
