<div id="<%=model.getPage().id%>_<%=model.getName()%>" class="TableFormView <%=model.getName()%> full flex-rows">
    <div class="flex-min">
        <div class="toolbar">
            <% if (model.data.refreshButton === 'true') {%>
            <button class="refresh"><%=model.getApp().getText().form.refresh%></button>
            <% } %>
            <% if (model.data.newRowMode !== 'disabled') {%>
            <button class="new"><%=model.getApp().getText().form.new%></button>
            <% } %>
            <% if (model.data.deleteRowMode !== 'disabled') {%>
            <button class="delete"><%=model.getApp().getText().form.delete%></button>
            <% } %>
        </div>
    </div>
    <div id="<%=model.getPage().id%>_<%=model.getName()%>_GridWidget" class="GridWidget flex-max" tabindex="0">
        <div class="head">
            <table>
                <tr>
                    <% for (const fieldName in model.data.fields) {
                        const field = model.data.fields[fieldName];
                        if (field.isVisible === 'false') {
                            continue;
                        }
                        const width = (field.width === '0') ? 100 : parseInt(field.width);
                    %>
                        <td data-column-name="<%=field.name%>" style="width:<%=width%>px;">
                            <div><%=field.caption%></div>
                            <span class="resize"></span>
                        </td>
                    <% } %>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="block"></div>
    </div>
    <div class="flex-min paging">
        <div class="countBlock">
            <span><%=model.getApp().data.text.form.count%></span>
            <span class="count"></span>
        </div>
        <button class="previous"><%=model.getApp().data.text.form.previous%></button>
        <select class="goto"></select>
        <button class="next"><%=model.getApp().data.text.form.next%></button>
    </div>
</div>
