<div id="<%=model.getPage().id%>_<%=model.getName()%>" class="TableFormView <%=model.getName()%> full flex-rows">
    <div class="toolbar flex-min"/>
    <div class="grid full flex-rows">
        <div id="<%=model.getPage().id%>_<%=model.getName()%>_GridWidget" class="GridWidget flex-max" tabindex="0">
            <div class="head">
                <table>
                    <tr>
                        <% for (const fieldName in model.data.fields) {
                            const field = model.data.fields[fieldName];
                            if (field.isVisible === 'false') {
                                continue;
                            }
                            const width = (field.width === '0') ? 100 : parseInt(field.width);
                        %>
                        <td data-column-name="<%=field.name%>" style="width:<%=width%>px;">
                            <div><%=field.caption%></div>
                            <span class="resize"></span>
                        </td>
                        <% } %>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="block"></div>
        </div>
    </div>
    <div class="paging flex-min">
        <div class="countBlock">
            <span><%=model.getApp().data.text.form.count%></span>
            <span class="count"></span>
        </div>
        <button class="previous"><%=model.getApp().data.text.form.previous%></button>
        <select class="goto"></select>
        <button class="next"><%=model.getApp().data.text.form.next%></button>
    </div>
</div>
