<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title>QForms v<%=version%></title>
    <!-- links -->
    <%links.forEach(link => {
    if (typeof link === 'string') {
    %><link rel="stylesheet" href="<%=link%>"/>
    <%
    } else if (typeof link === 'object') {
    %><link rel="<%=link.rel%>" href="<%=link.href%>"/>
    <%
    }
    });%>
    <!-- scripts -->
    <%scripts.forEach(src => {
    %><script type="text/javascript" src="<%=src%>"></script>
    <%
    });%>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // console.log('DOMContentLoaded');
            const data = JSON.parse(document.querySelector('script[type="application/json"]').textContent);
            new IndexFrontHostApp(data).init();
        });
    </script>
    <script type="application/json"><%-JSON.stringify(data, null, 4)%></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
