<div id="<%=model.id%>" class="PageView full place">
    <div class="frame flex-rows">
        <!-- caption -->
        <h3 class="<%=model.id%>_caption flex-min"><%=model.data.caption%></h3>
        <!-- buttons -->
        <% if (model.isThereARowFormWithDefaultDs()) { %>
            <div class="buttons flex-min">
                <% if (newMode) { %>
                    <button class="btn btn-primary btn-sm saveAndClose"><%=model.app.data.text.page.create%></button>
                    <button class="btn btn-default btn-sm closePage"><%=model.app.data.text.page.cancel%></button>
                <%} else {%>
                    <button class="btn btn-primary btn-sm saveAndClose"><%=model.app.data.text.page.saveAndClose%></button>
                    <button class="btn btn-default btn-sm save"><%=model.app.data.text.page.save%></button>
                    <button class="btn btn-default btn-sm closePage"><%=model.app.data.text.page.close%></button>
                <%}%>
            </div>
            <div class="splitter flex-min">&nbsp;</div>
        <%}%>
        <!-- row forms -->
        <% if (model.isThereARowForm()) { %>
            <div class="row-forms flex-min">
            <% for (var name in model.forms) {
                var form = model.forms[name];
                if (form.data.class === 'RowForm') {%>
                    <%=QForms.render(form.data.view,{
                                model  : form,
                                newMode: newMode
                            })%>
                <%}
            }
            %>
            </div>
            <div class="splitter flex-min">&nbsp;</div>
        <%}%>
        <!-- table forms -->
        <% if (model.isThereATableFormOrTreeForm(this)) { %>
            <div class="table-forms flex-max place">
                <div class="frame">
                    <div id="<%=model.id%>_TabWidget" class="TabWidget TabWidget-blue full">
                        <ul>
                            <% for (var name in model.forms) {
                                var form = model.forms[name].data;
                                if (form.class === 'TableForm' || form.class === 'TreeForm') {
                                    %><li>
                                        <span id="<%=model.id%>_<%=form.name%>_caption"><%=form.caption%></span>
                                    </li><%
                                }
                            } %>
                        </ul>
                        <div>
                            <% for (var name in model.forms) {
                                var form = model.forms[name];
                                if (form.data.class === 'TableForm' || form.data.class === 'TreeForm') {
                                    %><div>
                                        <%=QForms.render(form.data.view, {
                                                    model  : form,
                                                    newMode: newMode
                                           })
                                        %>
                                    </div><%
                                }
                            } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="splitter flex-min"></div>
        <%}%>
    </div>
</div>