<div id="<%=model.id%>" class="PageView <%=model.getName()%> full place">
    <div class="frame flex-rows">
        <!-- caption -->
        <h3 class="caption flex-min"><%=model.data.caption%></h3>
        <!-- toolbar -->
        <% if (model.isThereARowFormWithDefaultDs()) { %>
            <div class="toolbar flex-min">
                <% if (model.isThereARowFormWithDefaultDsAndTable()) { %>
                    <button class="ButtonWidget saveAndClose"><%=model.getApp().data.text.page.saveAndClose%></button>
                    <button class="ButtonWidget closePage"><%=model.getApp().data.text.page.close%></button>
                <%} else {%>
                    <button class="ButtonWidget closePage"><%=model.getApp().data.text.page.close%></button>
                <%}%>
            </div>
            <div class="splitter flex-min">&nbsp;</div>
        <%}%>
        <!-- row forms -->
        <% if (model.isThereARowForm()) { %>
            <div id="<%=model.id%>_<%=Object.keys(model.forms)[0]%>_root" class="row-forms flex-min"/>
            <div class="splitter flex-min">&nbsp;</div>
        <%}%>
        <!-- table forms -->
        <% if (model.isThereATableFormOrTreeForm(this)) { %>
            <div class="table-forms flex-max place">
                <div class="frame">
                    <div id="<%=model.id%>_TabWidget" class="TabWidget TabWidget-blue full">
                        <ul>
                            <% for (const name in model.forms) {
                                const form = model.forms[name].data;
                                if (form.class === 'TableForm' || form.class === 'TreeForm') {
                                    %><li>
                                        <span id="<%=model.id%>_<%=form.name%>_caption"><%=form.caption%></span>
                                    </li><%
                                }
                            } %>
                        </ul>
                        <div>
                            <% for (const name in model.forms) {
                                const form = model.forms[name];
                                if (form.getClassName() === 'TableForm' || form.getClassName() === 'TreeForm') {
                                    %><div id="<%=model.id%>_<%=form.getName()%>_root"/><%
                                }
                            } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="splitter flex-min"></div>
        <%}%>
    </div>
</div>
