<div id="<%=model.getPage().id%>_<%=model.name%>" class="TreeFormView <%=model.name%> full flex-rows">
    <div class="flex-min">
        <button class="btn btn-default btn-xs newRoot">Create in root</button>
        <button class="btn btn-default btn-xs new">Create</button>
        <button class="btn btn-default btn-xs delete">Delete</button>
    </div>
    <div id="<%=model.getPage().id%>_<%=model.name%>_TreeWidget" class="TreeWidget flex-max" style="border:1px solid gray;box-sizing:border-box;">
        <ul>
        </ul>
    </div>
</div>
