<div id="<%=model.getPage().id%>_<%=model.getName()%>" class="TreeFormView <%=model.getName()%> full flex-rows">
    <div class="flex-min">
        <button class="newRoot">Create in root</button>
        <button class="new">Create</button>
        <button class="delete">Delete</button>
    </div>
    <div id="<%=model.getPage().id%>_<%=model.getName()%>_TreeWidget" class="TreeWidget flex-max" style="border:1px solid gray;box-sizing:border-box;">
        <ul>
        </ul>
    </div>
</div>
