<!DOCTYPE html>
<html class="<%=application.getName()%>-login" lang="<%=application.getAttr('lang')%>">
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=application.getAttr('caption')%> - <%=application.getText().login.login%> - QForms</title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- qforms js -->
    <script src="js/common.js"></script>
    <script src="js/common-jsx.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/viewer-jsx.js"></script>
    <!-- qforms css -->
    <link href="css/common-jsx.css" rel="stylesheet"/>
    <link href="css/viewer.css" rel="stylesheet"/>
    <link href="css/viewer-jsx.css" rel="stylesheet"/>
</head>
<body class="<%=application.getName()%>-login__body">
    <form class="login-form" action="<%=REQUEST_URI%>" method="post">
        <% if (errMsg !== null) { %>
        <div>
            <span><%=errMsg%></span>
        </div>
        <% } %>
        <input name="action" type="hidden" value="login">
        <% if (users) { %>
            <select name="username" required autofocus>
                <option value=""></option>
                <% users.forEach((user) => { %>
                <option value="<%=user.username%>" <%=user.username === username ? 'selected' : ''%>><%=user.title%></option>
                <% }); %>
            </select>
        <% } else { %>
        <input name="username" placeholder="<%=application.getText().login.username%>" required autofocus value="<%=username%>">
        <% } %>
        <input name="password" type="password" placeholder="<%=application.getText().login.password%>">
        <button type="submit"><%=application.getText().login.signIn%></button>
    </form>
</body>
</html>
