<!DOCTYPE html>
<html lang="<%=lang%>">
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title><%=title%></title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- qforms js -->
    <script src="js/common.js"></script>
    <script src="js/common-jsx.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/viewer-jsx.js"></script>
    <!-- qforms css -->
    <link href="css/common-jsx.css" rel="stylesheet"/>
    <link href="css/viewer-jsx.css" rel="stylesheet"/>
    <!-- app css -->
    <%links.forEach(link => {
        %><link href="<%=link%>" rel="stylesheet"/>
    <%
    });%>
    <!-- app js -->
    <%scripts.forEach(script => {
        %><script src="<%=script%>"></script>
    <%
    });%>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const data = <%- data %>;
        const qforms = new QForms(data);
        qforms.init();
    });
    </script>
</head>
<body>
<%
if (debugApp === 1) {
    %><div id="root" class="debug"></div>
<%
} else {
    %><div id="root"></div><%
}
%>
</body>
</html>
