<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title><%=caption%>[<%=env%>] - QForms</title>
    <!-- EventEmitter -->
    <script src="common/lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="common/lib/react/react.development.js"></script>
    <script src="common/lib/react/react-dom.development.js"></script>
    <!-- qforms css -->
<!--    <link rel="stylesheet" href="common/class/all.css"/>-->
    <link rel="stylesheet" href="common/jsx/all.css"/>
    <!-- viewer css -->
<%viewerClassCss.forEach((filePath) => {
        %>    <link rel="stylesheet" href="<%=filePath%>"/><%='\n'%><%
    });%>
    <!-- qforms js -->
    <script src="common/class/all.js"></script>
    <script src="viewer/class/all.js"></script>

    <!-- components -->
    <%components.forEach(filePath => {
        %>  <script src="<%=filePath%>"></script><%='\n'%><%
    });%>
    <!-- app css -->
    <%links.forEach(link => {
        %><link rel="stylesheet" href="<%=link%>"/>
    <%
    });%>
    <!-- app js -->
    <%scripts.forEach(script => {
        %><script src="<%=script%>"></script>
    <%
    });%>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const data = <%- data %>;
        const qforms = new QForms(data);
        qforms.init();
    });
    </script>
</head>
<body>
<%
if (debugApp === '1') {
    %><div id="root" class="debug"></div>
<%
} else {
    %><div id="root"></div><%
}
%>
</body>
</html>
