<!DOCTYPE html>
<html>
<head>
    <!-- <%=version%> -->
    <meta charset="utf-8"/>
    <title><%=title%></title>
    <!-- EventEmitter -->
    <script src="lib/EventEmitter/EventEmitter.min.js"></script>
    <!-- react -->
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- framework js -->
    <script src="common.js"></script>
    <script src="viewer.js"></script>
    <script src="jsx.js"></script>
    <!-- framework css -->
    <link rel="stylesheet" href="jsx.css"/>
    <!-- app css -->
    <%links.forEach(link => {
        %><link rel="stylesheet" href="<%=link%>"/>
    <%
    });%>
    <!-- app js -->
    <%scripts.forEach(script => {
        %><script src="<%=script%>"></script>
    <%
    });%>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const data = <%- data %>;
        const qforms = new QForms(data);
        qforms.init();
    });
    </script>
</head>
<body>
<%
if (debugApp === 1) {
    %><div id="root" class="debug"></div>
<%
} else {
    %><div id="root"></div><%
}
%>
</body>
</html>
