<div class="TableView">
    <table>
        <thead>
            <th>name</th>
            <th>type</th>
            <th>key</th>
            <th>auto</th>
            <th>nullable</th>
            <th>comment</th>
            <th>dbType</th>
        </thead>
        <tbody>
            <%for (let i=0;i < tableInfo.length;i++) {
                const row = tableInfo[i];%>
                <tr>
                    <td><%=row.name%></td>
                    <td><%=row.type%></td>
                    <td><%=row.key%></td>
                    <td><%=row.auto%></td>
                    <td><%=row.nullable%></td>
                    <td><%=row.comment%></td>
                    <td><%=row.dbType%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <br>
    <button class="btnCreateTable">Create Table</button>
</div>
