<div id="<%=model.getPage().id%>_<%=model.getName()%>" class="RowFormView <%=model.getName()%>">
    <div class="toolbar">
    <% if (model.getDataSource().getClassName() === 'SqlDataSource') { %>
        <button class="saveForm">Save</button>
        <button class="discardForm">Discard</button>
        <button class="refreshForm">Refresh</button>
    <% } %>
    <% if (Object.keys(model.data.actions).length > 0) { %>
        <div class="DropdownButtonWidget">
            <button>Actions</button>
            <ul>
                <% for (const name in model.data.actions) {
                    const action = model.data.actions[name]; %>
                    <li data-action="<%=action.name%>"><%=action.caption%></li>
                <% } %>
            </ul>
        </div>
    <% } %>
    </div>
    <div class="Grid">
        <% for (const fieldName in model.fields) {
            const field = model.fields[fieldName];
            if (field.data.isVisible === 'false') continue;
        %>
            <div class="Label <%=field.getName()%>Label">
                <% echo(field.data.caption + ':');
                if (field.data.notNull === 'true') {
                %><span style='color:red;'>&nbsp;*</span><%
                } %>
            </div>
            <%=QForms.render(field.data.view, {model: field})%>
        <% } %>
    </div>
</div>
