<div id="<%=model.getPage().id%>_<%=model.getName()%>" class="RowFormView <%=model.getName()%>">
    <div class="toolbar">
    <% if (model.getDataSource().getClassName() === 'SqlDataSource') { %>
        <button class="btn btn-default btn-xs saveForm">Save</button>
        <button class="btn btn-default btn-xs discardForm">Discard</button>
        <button class="btn btn-default btn-xs refreshForm">Refresh</button>
    <% } %>
    <% if (Object.keys(model.data.actions).length > 0) { %>
        <div class="dropdown" style="display: inline-block">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button"  data-toggle="dropdown">
                <span>Actions</span> <span class="caret"></span>
            </button>
            <ul id="treeActionsList" class="dropdown-menu">
                <% for (const name in model.data.actions) {
                    const action = model.data.actions[name]; %>
                    <li class="<%=action.getName()%>"><a style='cursor: pointer;'><%=action.caption%></a></li>
                <% } %>
            </ul>
        </div>
    <% } %>
    </div>
    <div class="Grid">
        <% for (const fieldName in model.fields) {
            const field = model.fields[fieldName];
            if (field.data.isVisible === 'false') continue;
        %>
            <div class="Label <%=field.getName()%>Label">
                <% echo(field.data.caption + ':');
                if (field.data.notNull === 'true') {
                %><span style='color:red;'>&nbsp;*</span><%
                } %>
            </div>
            <%=QForms.render(field.data.view, {model: field})%>
        <% } %>
    </div>
</div>
